
.login
{
  list-style: none;
}
header {
                                   background-color: rgba(26, 10, 56, 0.53);
                                   color: #fff;
                                   z-index: 1000;
                                 }

                                 header a {
                                   color: #fff;
                                 }

                                 header::after {
                                   content: "";
                                   width: 100%;
                                   height: 2px;
                                   background-color: rgba(255, 255, 255, 0.02);
                                   position: absolute;
                                   left: 0;
                                   bottom: -20px;
                                 }

                                 .nav-link {
                                   font-family: "Rajdhani", sans-serif;
                                   text-transform: uppercase;
                                 }

                                 .contact {
                                   font-size: 12px;
                                 }

                                 .tel {
                                   margin-right: 30px;
                                 }

                                 .contact i {
                                   color: #ee1515;
                                   margin-right: 10px;
                                 }

                                 .login {
                                   padding: 10px 20px;
                                   font-size: 14px;
                                   margin-right: 25px;
                                   text-transform: uppercase;
                                 }

                                 .contact a:hover,
                                 .login:hover {
                                   color: rgba(255, 255, 255, 0.5);
                                   text-decoration: none;
                                 }

                                 .login i {
                                   color: #ee1515;
                                   margin-right: 8px;
                                 }

                                 .navbar-brand h1 {
                                   margin: 0;
                                 }

                                 .social {
                                   padding-left: 0;
                                   margin: 0;
                                   list-style: none;
                                 }

                                 .social li:not(:last-child) {
                                   margin-right: 20px;
                                 }

                                 .social a {
                                   font-size: 14px;
                                   display: inline-block;
                                   width: 40px;
                                   height: 40px;
                                   border: 1px solid #ee1515;
                                   border-radius: 4px;
                                   line-height: 40px;
                                   text-align: center;
                                   background-color: transparent;
                                   transition: all 0.25s ease-in-out;
                                 }

                                 .social a:hover {
                                   color: #fff;
                                   background-color: #ee1515;
                                 }

                                 .navbar-brand img {
                                   width: 135px;
                                 }

                                 .navbar-collapse .search-form input[type="text"] {
                                   border: 1px solid #ced4da;
                                   color: #333;
                                   padding: 1.5625rem 0.625rem;
                                 }

                                 .navbar-collapse .search-form .btn {
                                   margin-top: 0;
                                   border-radius: 0;
                                   margin-left: -1px;
                                 }

                                 .navbar-collapse .nav-link {
                                   font-size: 1.125rem;
                                   transition: all 0.2s ease-in-out;
                                 }

                                 .navbar-collapse .nav-link:hover {
                                   color: #ee1515;
                                 }

                                 .cart,
                                 .login-icon,
                                 .search-icon {
                                   color: #fff;
                                   font-size: 1.5rem;
                                 }

                                 .cart:hover,
                                 .login-icon:hover,
                                 .search-icon:hover {
                                   color: #ee1515;
                                 }

                                 .cart {
                                   margin-left: 20px;
                                 }

                                 form input.btn-primary:hover,
                                 form button.btn-primary:hover {
                                   background-color: #fff;
                                   color: #ee1515;
                                 }
                                 .navbar-brand{
                                  font-size: 2.5rem;
                                  font-weight: bold;
}

/* #team {
    background: #0099CC;
} */

.btn-primary:hover,
.btn-primary:focus {
    background-color: #0099CC;
    border-color: #0099CC;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #0099CC;
    border-color: #0099CC;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #0099CC ;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #0099CC
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.pad{
  padding-top: 150px;

}
