<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <img src="/assets/john.PNG" alt="John" style="width:100%">
  <h1>SAI MOHITH</h1>
  <p class="title">webdesigner</p>
  <p>Harvard University</p>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
</div>
<div class="card">
  <p><button>Add Employee</button></p>
  <img src="/assets/john.PNG" alt="John" style="width:100%">
  <h1>Rishitesh Reddy</h1>
  <p class="title"> webdeveloper</p>
  <p>christ University</p>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><button>Add Employee</button></p>
</div>