<html>
<head>
    <meta charset="utf-8">
    <title>Income Tax Calculator</title>
    <style>
    article, aside, figure, footer, header, nav, section {
    display: block;
    }
    body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0 auto;
    width: 500px;
    border: 3px solid blue;
    }
    h1 {
    color: blue;
    margin-top: 0;
    }
    section {
    padding: 1em 2em;
    }
    label {
    float: left;
    width: 10em;
    text-align: right;
    }
    input {
    margin-left: 1em;
    margin-bottom: .5em;
    }

    </style>


</head>

<body>

    <h1>Income Tax Calculator</h1>

    <label>Enter Income:</label>
    <input type="text" [(ngModel)]="income" />
    <label>Enter Deduction:</label>
    <input type="text" [(ngModel)]="deduction" /><br><br>
    <button class="btn btn-primary center" (click)="calculate()">Add</button><br><br>
    <label>Total taxable Income:</label> {{TotaltaxableIncome}}<br><br>
    <label>Basic Exemption:</label>{{Basicexemption}}<br><br>
    <label>Taxable Amount:</label>{{TaxableAmount}}<br><br>
    <label>Payable tax:</label>{{PayableTax}}<br><br>
</body>
</html>
