#sect1 {  
                                   height: 650 px;  
                                   color: #fff;background-image: url("/assets/bg.jpg");  
                                   background-size: 100% ;  
                                   background-size: cover;  
                               }  
                               .center{
                                   
                               }