<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
  </head>
  <body>

  
<section class="o">
  
  <section id="navigation">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="http://localhost:4200/section">SECTIONS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:4200/add">SECTION 80C</a>
        </li>
        <li class="nav-item article active">
          <a class="nav-link" href="http://localhost:4200/add">SECTION 80D</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:4200/add">SECTION 80CD</a>
        </li>
      </ul>
      <span class="navbar-text">
        
      </span>
      
    </div>
  </nav>
    </section>
  <div class="row">
  
    <div class="col-3 col-s-12">
      <div class="aside">
        <h1>SECTION 80C</h1>
        <p>Investment in ELSS Fund or Tax Saving Mutual Fund is considered<br>
           as the best tax saving option. <br>These funds are specially designed <br>
           to give you dual benefit of saving taxes and getting higher <br>
           returns on investment.</p>
      </div>
    </div>
    <div class="col-3 col-s-12">
      <div class="aside">
        <h1>SECTION 80D</h1>
        <p>You can claim a deduction of Rs. 25,000 under section 80D on insurance for self, <br>
          spouse and dependent children. An additional deduction <br>
          for insurance of parents is available<br>
           up to Rs 25,000.<br>
           returns on investment.
          </p>
      </div>
    </div>
    
    <div class="col-3 col-s-12">
      <div class="aside">
        <h1>SECTION 80CD</h1>
        <p>You can claim a deduction of Rs. 25,000 under section 80D on insurance for self, <br>
          spouse and dependent children. An additional deduction <br>
          for insurance of parents is available<br>
           up to Rs 25,000.<br>
           returns on investment.
          </p>
      </div>
    </div>
    
    <div class="col-3 col-s-12">
      <div class="aside">
        <h1>SECTION 80E</h1>
        <p>You can claim a deduction of Rs. 25,000 under section 80D on insurance for self, <br>
          spouse and dependent children. An additional deduction <br>
          for insurance of parents is available<br>
           up to Rs 25,000.<br>
           returns on investment.
          </p>
      </div>
    </div>
  </div>
  
  </section>

  </body>
</html>
