<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>Multipurpose</title>
    <!-- Stylesheets & Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i%7CRajdhani:400,600,700"
        rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>Multipurpose</title>
    <!-- Stylesheets & Fonts -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i%7CRajdhani:400,600,700"
        rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
      <!-- Loader Start -->
      <div class="css-loader">
        <div class="loader-inner line-scale d-flex align-items-cen ter justify-content-center"></div>
    </div>
    <header class="position-absolute w-100">
        <div class="container">
            <div class="top-header d-none d-sm-flex justify-content-between align-items-center">
                <div class="contact">
                    <a href="tel:+1234567890" class="tel"><i class="fa fa-phone" aria-hidden="true"></i>+9898989898</a>
                    <a href="mailto:info@yourmail.com"><i class="fa fa-envelope"
                            aria-hidden="true"></i>students@gmail.com</a>
                </div>
                <nav class="d-flex aic">
                    <a href="http://localhost:4200/sign-in" class="login"><i class="fa fa-user" aria-hidden="true"></i>Login</a>
                    <ul class="nav social d-none d-md-flex">
                        <li><a href="https://www.facebook.com/fh5co" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </nav>
            </div>
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand">Paytax</a>
                <div class="group d-flex align-items-center">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span
                            class="navbar-toggler-icon"></span></button>
                    <a class="login-icon d-sm-none" href="#"><i class="fa fa-user"></i></a>
                    <a class="cart" href="#"><i class=""></i></a>
                </div>
                <a class="search-icon d-none d-md-block" href="#"><i class=""></i></a>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="d-flex aic">
                      <li class="login"><a class="nav-link"  href="http://localhost:4200/home-page">Home</a></li>
                      <li class="login"><a class="nav-link" href="http://localhost:4200/register-form">Register</a></li>
                      <li class="login"><a class="nav-link" href="http://localhost:4200/services">Services</a></li>
                      <li class="login"><a class="nav-link" href="http://localhost:4200/about-us">About Us</a></li>
                      <li class="login"><a class="nav-link" href="http://localhost:4200/help">help</a></li>
                                          </ul>

                </div>
            </nav>
        </div>
    </header>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first signup">
         Sign Up
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" autocomplete="off" id="login" class="fadeIn first" name="login" placeholder="UserName" #displayName required>
      <input type="email" autocomplete="off" id="login" class="fadeIn second" name="login" placeholder="Email Address" #userEmail required>
      <input type="password" autocomplete="off"id="password" class="fadeIn third" name="login" placeholder="Password" #userPwd required>
      <input type="submit" autocomplete="off" class="fadeIn fourth" value="Sign-up" (click)="authService.SignUp(userEmail.value, userPwd.value)">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <span class="rty">Already a member? <a class="underlineHover qwe" href="http://localhost:4200/sign-in"> Login</a> </span><br>

    </div>

  </div>
</div>
</body>
</html>
