<div class="center">
  <div class="row">
                                     <div class="offset-sm-4 col-sm-4">

                                   <div class="card text-blank">
                                    <div class="card-body">
                                     <div class="card-title text-center">

                                   <div class="card text-blank">

                                       <div class="authBlock">
  <h3>USER FORM</h3>
  <div [hidden]="submitted" style="width: 300px;">
    <form  (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Full NAME </label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="customer.name" name="name" #name required>
      </div>

      <div class="form-group">
        <label for="Aadhar">AADHAR</label>
        <input type="text" class="form-control" id="age" required [(ngModel)]="customer.Aadhar" name="age" required>
      </div>

      <div class="form-group">
        <label for="dob">DATE OF BIRTH</label>
            <input type="date" id="dob" class="form-control" [(ngModel)]="customer.dob" name="dob" required >

    </div>

    <div class="form-group">
      <label for="gender">GENDER</label>
      <select id="gender" class="form-control"  required [(ngModel)]="customer.gender" name="gender" required>
        <option *ngFor="let c of countries" [ngValue]="c">{{ c }}</option>
    </select>
    </div>
      <div class="form-group">
        <label for="age">AGE</label>
        <input type="text" class="form-control" id="age" required [(ngModel)]="customer.age" name="age" required>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>



    </form>

  </div>


  </div>
  </div>
  </div>
  </div>

  <a class="btn btn-warning" href="http://localhost:4200/register-user">Next</a>
  </div>
  </div>

  </div>
  </div>
