<html>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">



    <link rel="icon" href="Favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  </head>
  <body>

    <section id="navigation">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="http://localhost:4200/section">SECTIONS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="http://localhost:4200/add">SECTION 80C</a>
          </li>
          <li class="nav-item article active">
            <a class="nav-link" href="http://localhost:4200/addsection80-d">SECTION 80D</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="http://localhost:4200/addsection80-ccd">SECTION 80CCD</a>
          </li>
        </ul>
        <span class="navbar-text">

        </span>

      </div>
    </nav>
      </section>

<main class="my-form">
  <div class="cotainer">
      <div class="row justify-content-center">
          <div class="col-md-8">
                  <div class="card">
                      <div class="card-header">Section 80D</div>
                      <div class="card-body">
                          <form name="myform" (ngSubmit)="onSubmit()"onsubmit="return validateForm()" method="post">
                            <p style="color: red;">Note:- Section 80D allows for a maximum deduction of up to Rs.25000 lakh every year</p>

                            <div class="form-group row">
                                  <label for="full_name" class="col-md-4 col-form-label text-md-right">Full Name*</label>
                                  <div class="col-md-6">
                                      <input type="text" autocomplete="off" class="form-control" id="name" required [(ngModel)]="customer.name" name="name"  required minlength="4" appForbiddenName="bob" #name="ngModel" required>
                                      <div *ngIf="warn">
                                        <div *ngIf="name.invalid && (name.dirty || name.touched)"
                                          class="alert alert-danger">

                                           <div *ngIf="name.errors.required">
                                              Name is required.
                                              </div>
                                              <div *ngIf="name.errors.minlength">
                                              Name must be at least 4 characters long.
                                              </div>
                                              <div *ngIf="name.errors.forbiddenName">
                                              Name cannot be Bob.
                                              </div>

                                              </div>
                                              </div>
                                    </div>
                              </div>

                              <div class="form-group row">
                                  <label for="name" class="col-md-4 col-form-label text-md-right">Age*</label>
                                  <div class="col-md-6">
                                    <input type="number" autocomplete="off" class="form-control" id="age" required [(ngModel)]="customer.age" name="age" required maxlength="2" required class="form-control" #age="ngModel">
                                    <div *ngIf="warn">
                                      <div *ngIf="age.invalid && (age.dirty || age.touched)"
                                      class="alert alert-danger">

                                       <div *ngIf="age.errors.required">
                                          Age is required.
                                          </div>
                                          <div *ngIf="age.errors.maxlength">
                                          Age cannot be more than 2 digits.
                                          </div>
                                          </div>
                                          </div>
                                  </div>
                              </div>
                              <div class="form-group row">
                                <label for="user_name" class="col-md-4 col-form-label text-md-right">Assessment Year*</label>
                                <div class="col-md-6">
                                    <input type="date" id="dob" autocomplete="off" class="form-control" [(ngModel)]="customer.Assessmentyear" name="dob" required [(ngModel)]="customer.dob" name="dob" #dob="ngModel" required>
                                    <div *ngIf="warn">
                                      <div *ngIf="dob.invalid && (dob.dirty ||dob .touched)"
                                      class="alert alert-danger">

                                       <div *ngIf="dob.errors.required">
                                          Date of Birth is required.
                                          </div>

                                          </div>
                                          </div>
                                  </div>
                            </div>
                              <div class="form-group row">
                                  <label for="name" class="col-md-4 col-form-label text-md-right">Payment for medical insurance premium (mode other than cash) /contribution to CGHS</label>
                                  <div class="col-md-6">
                                      <input type="text" autocomplete="off" class="form-control" id="cghs" required [(ngModel)]="customer.PaymentformedicalinsurancepremiumcontributiontoCGHS" name="cghs" #pfm="ngModel" required>
                                      <div *ngIf="warn">
                                        <div *ngIf="pfm.invalid && (pfm.dirty ||pfm .touched)"
                                        class="alert alert-danger">

                                         <div *ngIf="pfm.errors.required">
                                            This is required.
                                            </div>

                                            </div>
                                            </div>
                                    </div>
                              </div>
                              <div class="form-group row">
                                <label for="name" class="col-md-4 col-form-label text-md-right"> Payment of medical insurance premium for resident Sr. Citizen – (mode other than cash)
                                </label>
                                <div class="col-md-6">
                                    <input type="text" autocomplete="off" class="form-control" id="providentfund" required [(ngModel)]="customer.PaymentofmedicalinsurancepremiumforresidentSrCitizen" name="providentfund" #pfm1="ngModel" required>
                                    <div *ngIf="warn">
                                      <div *ngIf="pfm1.invalid && (pfm1.dirty ||pfm1 .touched)"
                                      class="alert alert-danger">

                                       <div *ngIf="pfm1.errors.required">
                                          This is required.
                                          </div>

                                          </div>
                                          </div>
                                  </div>
                            </div>
                            <div class="form-group row">
                              <label for="name" class="col-md-4 col-form-label text-md-right">Payment made for preventive health check up</label>
                              <div class="col-md-6">
                                  <input type="text" autocomplete="off" class="form-control" id="eprovident" required [(ngModel)]="customer.Paymentmadeforpreventivehealthcheckup" name="eprovident" #pfm2="ngModel" required>
                                  <div *ngIf="warn">
                                    <div *ngIf="pfm2.invalid && (pfm2.dirty ||pfm2 .touched)"
                                    class="alert alert-danger">

                                     <div *ngIf="pfm2.errors.required">
                                        This is required.
                                        </div>

                                        </div>
                                        </div>
                                </div>
                          </div>
                          <div class="form-group row">
                            <label for="name" class="col-md-4 col-form-label text-md-right"> Medical expenditure on the health of Resident very senior citizen for whom no amount is paid to effect/keep in force health) ( mode of payment other than cash )</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" autocomplete="off" id="ELSS" required [(ngModel)]="customer.MedicalexpenditureonthehealthofResidentveryseniorcitizenforwhomnoamountispaidtoeffectkeepinforcehealth" name="ELSS" #pfm3="ngModel" required>
                                <div *ngIf="warn">
                                  <div *ngIf="pfm3.invalid && (pfm3.dirty ||pfm3 .touched)"
                                  class="alert alert-danger">

                                   <div *ngIf="pfm3.errors.required">
                                      This is required.
                                      </div>

                                      </div>
                                      </div>
                              </div>
                        </div>
                        <div class="form-group row">
                          <label for="name" class="col-md-4 col-form-label text-md-right">Total:-</label>{{res}}

                      </div>
                      <ng-template [ngIf]="res > 25000">
                        <p class="btn-warning" style="text-align:center">Amount cannont be exceeded 25000</p>
                      </ng-template>

                                  <div class="col-md-6 offset-md-4">
                                      <button type="submit" [disabled]="!customer.name || !customer.age ||!customer.Assessmentyear || !customer.PaymentformedicalinsurancepremiumcontributiontoCGHS || !customer.PaymentofmedicalinsurancepremiumforresidentSrCitizen || !customer.Paymentmadeforpreventivehealthcheckup || !customer.MedicalexpenditureonthehealthofResidentveryseniorcitizenforwhomnoamountispaidtoeffectkeepinforcehealth || verify()" class="btn btn-primary">
                                      Submit
                                      </button>

                                  </div>
                                  <div *ngIf="alert" class="alert alert-success alert-dismissible fade show dist" style="text-align: center;" role="alert">
                                    <strong>Success!</strong> Form submitted successfully.
                                    <button (click) ="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>

                          </form>
                          <a  style="text-align: center;"href="http://localhost:4200/dropdown" class="btn btn-success" >WAY TO TAX REPORTS</a>
                      </div>
                  </div>
          </div>
      </div>
  </div>

</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </body>
      </html>


