
  
<div class="row">
  <div class="offset-sm-3 col-sm-6">
<div class="card text-blank">
  <div id="sect1"class="container">       
   
    
 <div class="card-body">
  <div class="card-title text-center">
    <h3>Sign In</h3>
    <div class="formGroup">
      <input type="text" class="formControl" placeholder="Username" #userName required>
    </div>

    <div class="formGroup">
      <input type="password" class="formControl" placeholder="Password" #userPassword required>
    </div>
    
    <div class="formGroup">
      <span class="or"><span class="orInner">   </span></span>
    </div>

    <!-- Calling SignIn Api from AuthService -->
    <div class="formGroup">
      <input type="button" class="btn  btn-success" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
    </div>

    <div class="formGroup">
      <span class="or"><span class="orInner">   </span></span>
    </div>

    <!-- Calling GoogleAuth Api from AuthService -->
    
    </div>

    <div class="forgotPassword">
      <span routerLink="/forgot-password" class="btn  btn-danger">Forgot Password?</span>
    </div>
  </div>

  <div class="redirectToLogin">
    <span>     Don't have an account?<span class="redirect" class="btn-warning"routerLink="/register-user"> Sign Up</span></span>
  </div>
</div>
  </div>                                
</div>
</div> 















































