<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <!-- <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
      <div class="container">
      <a class="navbar-brand nbr" href="http://localhost:4200/company-page">Paytax</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      </div>
  </nav> -->
  <header class="position-absolute w-100">

    <nav class="navbar navbar-expand-md navbar-light clr">
        <div class="container">
        <a class="navbar-brand nbr" href="http://localhost:4200/home-page">Paytax</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        </div>

    </nav>
    </header>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first signup">
         Login
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Username" #userName required>
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="Password" #userPassword required>
      <input type="submit" class="fadeIn fourth lgn" value="Sign-up" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
      <div class="forgotPassword">
        <span routerLink="/forgot-password" class="btn  btn-danger">Forgot Password?</span>
      </div>
      <div class="redirectToLogin">
        <span class="qwe">Don't have an account?<a class="redirect asd" routerLink="/sign-up"> Sign Up</a></span>
      </div>
    </form>

    <!-- Remind Passowrd -->
  </div>
</div>
</body>
</html>
