<html>
  <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
<body class="container">

  <form>
    <div class="container">
      <div class="jumbotron">
        <h2>Tax Deductions Under Section 80-D</h2>
      </div>

    </div>
    <div class="form-group">
   <label >Enter Amount</label>
    <input type="text" ><br>
    <label>Payment for medical insurance premium (mode other than cash) /contribution to CGHS</label>
    <input type="text" ><br>
    <label> Payment of medical insurance premium for resident Sr. Citizen – (mode other than cash)</label>
    <input type="text" ><br>
    <label> Payment made for preventive health check up</label>
    <input type="text" ><br>
    <label>Medical expenditure on the health of Resident very senior citizen for whom no amount is paid to effect/keep in force health) ( mode of payment other than cash )</label>
    <input type="text" ><br>
    <label>Investments in certain post-office schemes like Sukanya Samriddhi Yojana (SSY), National Savings Certificates (NSC), Senior Citizens' Savings Schemes(SCSS)</label>
    <input type="text" ><br>
  <button type="submit" class="btn btn-primary butt">Submit</button>
</div>
</form>

</body>
</html>
