<html>
  <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
<body class="container">

  <form>

    <label >Enter Amount</label>
    <input type="text" #box><br>
  <button type="submit" class="btn btn-primary butt" (click) ="getVal(box.value)">Submit</button>
  <br>
  <br>



  <ng-template [ngIf]="currentVal >='10000' && currentVal <= '20000'">
    <a   href="http://localhost:4200/add">State Bank Of India</a><br>
    <div id="carouselExampleIndicators"
    class="carousel slide" data-ride="carousel"
    data-interval="1000">
   <ol class="carousel-indicators">
       <li data-target="#carouselExampleIndicators"
           data-slide-to="0" class="active"></li>
       <li data-target="#carouselExampleIndicators"
           data-slide-to="1"></li>
       <li data-target="#carouselExampleIndicators"
           data-slide-to="2"></li>
   </ol>
   <div class="carousel-inner">
       <div class="carousel-item active">
           <img class="d-block w-100" src="assets/sbi-tax2.png" alt="First slide">
       </div>

   </div>

</div>
    <a href="http://localhost:4200/section" class="btn-warning"> Or Other Sections</a>

  </ng-template>
  <ng-template [ngIf]="currentVal >='30000' && currentVal < '50000'">
    <a  href="http://localhost:4200/add">HDFC</a><br>
    <a   href="http://localhost:4200/add">State Bank Of India</a><br>
    <div id="carouselExampleIndicators"
    class="carousel slide" data-ride="carousel"
    data-interval="1000">
   <ol class="carousel-indicators">
       <li data-target="#carouselExampleIndicators"
           data-slide-to="0" class="active"></li>
       <li data-target="#carouselExampleIndicators"
           data-slide-to="1"></li>
       <li data-target="#carouselExampleIndicators"
           data-slide-to="2"></li>
   </ol>
   <div class="carousel-inner">
       <div class="carousel-item active">
           <img class="d-block w-100" src="assets/hdfc-tax.png" alt="First slide">
       </div>

   </div>

</div>
    <a href="http://localhost:4200/section" class="btn-warning"> Or Other Sections</a>


  </ng-template>
  <ng-template [ngIf]="currentVal >='50000' && currentVal < '100000'">
    <a  href="http://localhost:4200/add">Baroda</a><br>
    <a   href="http://localhost:4200/add">State Bank Of India</a><br>
    <div id="carouselExampleIndicators"
    class="carousel slide" data-ride="carousel"
    data-interval="1000">
   <ol class="carousel-indicators">
       <li data-target="#carouselExampleIndicators"
           data-slide-to="0" class="active"></li>
       <li data-target="#carouselExampleIndicators"
           data-slide-to="1"></li>
       <li data-target="#carouselExampleIndicators"
           data-slide-to="2"></li>
   </ol>
   <div class="carousel-inner">
       <div class="carousel-item active">
           <img class="d-block w-100" src="assets/baroda-tax.png" alt="First slide">
       </div>

   </div>

</div>
    <a href="http://localhost:4200/section" class="btn-warning"> Or Other Sections</a>

   </ng-template>

</form>

</body>
</html>

