.navbar-brand{
  font-size: 2.5rem;
  font-weight: bold;
}

.container{
  position :relative;
 }
 form {

  margin: 40px auto;
  width: 500px;
  text-align: center;
}
input {
  margin-top: 5px;
  margin-bottom: 5px;
  display:inline-block;
  *display: inline;
  vertical-align:middle;
  margin-left:20px
}

label {
  display:inline-block;
  *display: inline;
  padding-top: 5px;
  text-align: right;
  width: 140px;
}
.butt{
  margin-top: 20px;
}
.year{
  margin-top: 5px;
  margin-bottom: 5px;
  display:inline-block;
  *display: inline;
  vertical-align:middle;
  margin-left:20px
}
.yearlabel{
  display:inline-block;
  *display: inline;
  padding-top: 5px;
  text-align: right;
  width: 140px;
}



#testimonials {
  padding: 7% 15%;
  text-align: center;


}

h2 {
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
.my-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}
.crd{
text-align: center;
}

.login
{
  list-style: none;
}
body{
  margin: 0;
  font-size: .9rem;
  font-weight:400;
  line-height: 1.8;
  color: #212529;
  text-align: left;
  background-color: #fffbfb;
  padding-bottom: 80px;
}

/* .nbr{
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
} */
.navbar-laravel
{
  box-shadow: 0 2px 4px rgba(0,0,0,.04);
}
.img{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
.center{
  margin-top: 20px;
  margin-left: 170px;
}
