<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">Thank You for Registering</h3>

		<div class="card-text">
			<form>
				<div class="form-group" *ngIf="authService.userData as user">
					<label for="exampleInputEmail1">We have sent a confirmation email to <strong>{{user.email}}</strong>.</label>
          <label for="exampleInputEmail1">Please check your email and click on the link to verfiy your email address.</label>

				</div>

				<button type="submit" class="btn btn-primary btn-block" (click)="authService.SendVerificationMail()">resend verification</button>
        <div class="redirectToLogin">
          <span>Go back to ?<a class="redirect" routerLink="/sign-in"> Sign in</a></span>
        </div>

			</form>
		</div>
	</div>
</div>
</body>
</html>
