
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!doctype html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>Multipurpose</title>
    <!-- Stylesheets & Fonts -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i%7CRajdhani:400,600,700"
        rel="stylesheet">
</head>

<body>
    <!-- Loader Start -->
    <div class="css-loader">
        <div class="loader-inner line-scale d-flex align-items-center justify-content-center"></div>
    </div>
    <!-- Loader End -->
    <!-- Header Start -->
    <header class="position-absolute w-100">
        <div class="container">
            <div class="top-header d-none d-sm-flex justify-content-between align-items-center">
                <div class="contact">
                    <a href="tel:+1234567890" class="tel"><i class="fa fa-phone" aria-hidden="true"></i>+9898989898</a>
                    <a href="mailto:info@yourmail.com"><i class="fa fa-envelope"
                            aria-hidden="true"></i>students@gmail.com</a>
                </div>
                <nav class="d-flex aic">
                    <a href="http://localhost:4200/sign-in" class="login"><i class="fa fa-user" aria-hidden="true"></i>Login</a>
                    <ul class="nav social d-none d-md-flex">
                        <li><a href="https://www.facebook.com/fh5co" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </nav>
            </div>
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand">Paytax</a>
                <div class="group d-flex align-items-center">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span
                            class="navbar-toggler-icon"></span></button>
                    <a class="login-icon d-sm-none" href="#"><i class="fa fa-user"></i></a>
                    <a class="cart" href="#"><i class=""></i></a>
                </div>
                <a class="search-icon d-none d-md-block" href="#"><i class=""></i></a>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="d-flex aic">
                        <li class="login"><a class="nav-link"  href="http://localhost:4200/home-page">Home</a></li>
                        <li class="login"><a class="nav-link" href="http://localhost:4200/register-form">Register</a></li>
                        <li class="login"><a class="nav-link" href="http://localhost:4200/services">Services</a></li>
                        <li class="login"><a class="nav-link" href="http://localhost:4200/about-us">About Us</a></li>
                        <li class="login"><a class="nav-link" href="http://localhost:4200/help">help</a></li>

                                          </ul>

                </div>
            </nav>
        </div>
    </header>
    <!-- Header End -->
    <!-- Hero Start -->
    <!-- Hero End -->
    <!-- Call To Action Start -->
    <!-- Call To Action End -->
    <!-- Services Start -->

    <br>
    <br>
    <br>

    <section class="services dwn">
        <div class="container">
            <div class="title text-center">


            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="media" data-aos="fade-up" data-aos-delay="200" data-aos-duration="400">
                            <img class="mr-4" src="assets/images/service1.png" alt="Web Development">
                            <div class="media-body">
                                <h5>Form-16</h5>
                                 a certificate issued to salaried individuals from their employer when he deducts tax from the employee salary.
                                 <br><br>
                                 <br>
                                </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="media" data-aos="fade-up" data-aos-delay="400" data-aos-duration="600">
                            <img class="mr-4" src="assets/images/service2.png" alt="Form-16">
                            <div class="media-body">
                                <h5>Form-16A</h5>
                                a certificate stating the details of tax deducted at source from non-salary earnings. Salaried individuals with regular income.
                                <br><br>
                                <br>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="media" data-aos="fade-up" data-aos-delay="600" data-aos-duration="800">
                            <img class="mr-4" src="assets/images/service3.png" alt="Form-16A ">
                            <div class="media-body">
                                <h5>Documents Needed</h5>
                                <li>Proof of income</li>
                                <li>PAN details of the employer</li>
                                <li>Tax paid on employee’s behalf
                                </li>
                                <li>Payment acknowledgement number
                                </li>
                                <li>Education surcharge and cess
                                </li>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</body>

</html>
