.login
{
                                   margin: auto;
                                   padding: 10px;
                                   width: 50%;
                                   border: 2px solid orange;
}

.login1
{
                                   margin: auto;
                                   padding: 10px;
                                   width: 50%;
                                   
}
