<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>
  <body>



  <section id="navigation">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="http://localhost:4200/section">SECTIONS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:4200/add">SECTION 80C</a>
        </li>
        <li class="nav-item article active">
          <a class="nav-link" href="http://localhost:4200/addsection80-d">SECTION 80D</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:4200/addsection80-ccd">SECTION 80CCD</a>
        </li>
      </ul>
      <span class="navbar-text">

      </span>

    </div>
  </nav>
    </section>
<section>
  <div class="row">

    <div class="col-3 col-s-12">
      <div class="aside">
        <h1>SECTION 80C</h1>
        <p>Investment in ELSS Fund or Tax Saving Mutual Fund is considered<br>
           as the best tax saving option. <br>These funds are specially designed <br>
           to give you dual benefit of saving taxes and getting higher <br>
           returns on investment.</p>
      </div>
    </div>
    <div class="col-3 col-s-12">
      <div class="aside">
        <h1>SECTION 80D</h1>
        <p>You can claim a deduction of Rs. 25,000 under section 80D on insurance for self, <br>
          spouse and dependent children. An additional deduction <br>
          for insurance of parents is available<br>
           up to Rs 25,000.<br>
           returns on investment.
          </p>
      </div>
    </div>

    <div class="col-3 col-s-12">
      <div class="aside">
        <h1>SECTION 80CD</h1>
        <p>You can claim a deduction of Rs. 25,000 under section 80D on insurance for self, <br>
          spouse and dependent children. An additional deduction <br>
          for insurance of parents is available<br>
           up to Rs 25,000.<br>
           returns on investment.
          </p>
      </div>
    </div>

    <div class="col-3 col-s-12">
      <div class="aside">
        <h1>SECTION 80E</h1>
        <p>You can claim a deduction of Rs. 25,000 under section 80D on insurance for self, <br>
          spouse and dependent children. An additional deduction <br>
          for insurance of parents is available<br>
           up to Rs 25,000.<br>
           returns on investment.
          </p>
      </div>
    </div>
  </div>

  </section>
<section>
<!--
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" (click)="collapse.toggle()"  [attr.aria-expanded]="!isCollapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseExample">
            Section-80C
          </button>
        </h2>
      </div>
      <div  id="collapseOne" class="collapse show"  aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
          <h2>Eligibility Criteria</h2>
          The provisions of Section 80C deductions apply to both an individual and a HUF. Also, this income tax saving Section covers both Indian residents and NRIs. The deduction is not available to companies, partnerships, and other corporate bodies.

          You can avail tax deductions under Section 80C by filing your income tax return (ITR) by 31st July each year by all individuals. So, file your ITR on time to reap the income tax saving benefits offered under Section 80C.
          <h2>Deductions under Section 80C</h2>

          <p>Section 80C of the Income Tax Act prescribes several instruments that not only offer income tax saving benefits, but also provide financial returns throughout the policy period. Total 80C limit as per the Income Tax Act, 1961 is Rs.1.5 lakh per financial year. Following are some of the 80C deduction options available as per the Income Tax Act, 1961:</p>

          <li>Life Insurance Premium</li>
          <li>Public Provident Fund (PPF)</li>
          <li>Employees’ Provident Fund (EPF)</li>
          <li>Equity Linked Savings Scheme (ELSS)</li>
          <li>Unit Linked Insurance Plan (ULIP)</li>
          <li>Tax Saver Fixed Deposits</li>
          <li>National Pension Scheme (NPS)</li>
          <li>Home Loan Principal Repayment</li>
          <li>Sukanya Samriddhi Yojana</li>
          <li>Senior Citizens Savings Scheme</li>
          <li>National Savings Certificate</li>
        </div>
      </div>
    </div>

    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" (click)="collapse.toggle()"  [attr.aria-expanded]="!isCollapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseExample">
              Section-80D
            </button>
          </h2>
        </div>
        <div  id="collapseOne" class="collapse show"    #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <p>You can claim a deduction of Rs. 25,000 under section 80D on insurance for self,
            spouse and dependent children. An additional deduction
            for insurance of parents is available
             up to Rs 25,000.
             returns on investment.</p>
          </div>
        </div>
      </div>
      </div>
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" (click)="collapse.toggle()"  [attr.aria-expanded]="!isCollapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseExample">
                Section-80E
              </button>
            </h2>
          </div>
          <div  id="collapseOne" class="collapse show"  #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              Investment in ELSS Fund or Tax Saving Mutual Fund is considered
              as the best tax saving option.These funds are specially designed
              to give you dual benefit of saving taxes and getting higher
              returns on investment.
            </div>
          </div>
        </div>
        </div>
</div> -->

    </section>
  </body>
</html>
