.login
{
                                   margin: auto;
                                   padding: 10px;
                                   width: 50%;
                                   border: 2px solid orange;
}

.login1
{
                                   margin: auto;
                                   padding: 10px;
                                   width: 50%;

}
.navbar-brand{
  font-size: 2.5rem;
  font-weight: bold;
}
.dlt{
  margin-left: 350px;
}
.crd{
  text-align: center;
}
